{% extends 'base.html' %}
{% block body %}
<h1>Hjælp til din træning.</h1>
    {%  if random_list %}
        <p>Skift hvilke figurer du kender i <a href="#change">bunden af siden</a>.</p>
<p>Træn dine figurer i denne rækkefølge:</p>
  <ul class="list-group list-group-flush">
    {%  for name, korean_name, moves in random_list %}
       <li class="list-group-item">{{ name }} - {{ korean_name }} - {{ moves }} tællinger</li>
    {% endfor %}
    </ul>

    <p>I alt {{ total_moves }} tællinger :)</p>
<hr>
{% endif %}

    <p>Det er ikke altid bedst eller sjovest at træne sine figurer fra 1 - 19, så her kan du få en tilfældig rækkefølge.</p>
<a name="change"></a>
    <p>Vælg din højeste figur (poomsae/taeguek):</p>
    <table>
    <tr><td>Nummer</td><td>Navn</td><td>Hangeul</td></tr>
    {%  for number, poomsae in poomsae_list.items() %}
        <tr>
        <td>{{ number }}</td>
        <td><a href="/poom/{{ number }}">{{ poomsae[0] }}</a></td>
        <td>{{ poomsae[1] }}</td>
        </tr>
    {% endfor %}

    </table>

{#<pre>{{ poomsae_list }}</pre>#}
{%  endblock %}